<h1><%=params[:id]%> Wishlist</h1>
<%= form_tag "/lists/buy", method: :patch do %>
	<% @list.each do |item| %>
			<h4><%= item.name %></h4>
	<% end %>		
<% end %>

<a href="/lists/index">Back to my dashboard</a>